body {
  margin: 0;
  min-height: 100% !important;
  height: 100%;
}
html {
  min-height: 100% !important;
  height: 100%;
}
#root{
  min-height: 100% !important;
  height: 100%;
}
#stars {
  background: linear-gradient(45deg, #FBC02D 30%, #FDD835 90%);
	display: block;
	position: fixed;
	width: 100%;
	height: 16rem;
	height: 100vh;
  z-index: 0;
  top:0;
}